#main{
    background-color: rgb(241, 231, 231);
}
#header{
    display: flex;
    overflow: hidden;
    margin-top: 20px;
}
#header-img{
    width:20%;
    height: 20%;
    margin-left: 70px;
}
.nav-link{

    text-decoration: none;
    color:black;
    font-size: larger;
   
}
.navbar-nav > li{
  
 margin-left:30%
}
#nav-bar{
    float: right;
    margin-left:38%
}

#h{
    margin-left:30%;
}
#submit{
    background-color: rgb(218, 218, 0);
    margin-top: 20px;
    width:10%;
border: none;
padding:10px 10px 10px 10px;
    font-weight: bold;
    margin-left:50%;
}
#email{
    width:20%;
    margin-left:45%;
}
#foot{
float:right;
margin-bottom: 0px;
font-size: 15px;
width:70%;
padding-right:30px; ;
margin-right: 15%;
color:white;
background-color: rgb(13, 240, 153);
}
#video{
  margin-left: 30%;
  margin-top: 70px;
  margin-bottom: 70px;
}
#container{
    display: flex;
   margin-bottom: 50px;

}
.c{
    border: 1px solid black;
    width:28%;
    height:70%;
   
}
.h{
    background-color: rgb(119, 245, 1);
    margin:0;
}
#feature{
    margin-left:20%;
    margin-top: 50px;
}


